# ignore everything...
*.*
**/

# ... except these
!.gitignore
!.ENV_SAMPLE
!mytheme.json
!start-mumble.sh
!stop-mumble.sh
!start-foundry.sh
!stop-foundry.sh
!.zshrc
!get-programs.sh
!configure-programs.sh
!plank-api-add.sh